body {
	font-family: sans-serif;
	background-image: url("background.png");
}

h1, h2 {
	margin: 5px;
	text-align: center;
}

button {
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	 cursor: pointer;
	outline: none;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.inputbox {
	display: flex;
}

.inputbox input {
	width: 80%;
	border-radius: 4px 0px 0px 4px;
	border-right-width: 0px;
}

.inputbox button {
	border: 1px solid #ccc;
	border-left-width: 0px;
	width: 20%;
	background-color: #e7e7e7;
	color: black;
	padding: 14px 20px;
	margin: 8px 0;
	border-radius: 0px 4px 4px 0px;
}

button.green {
	color: white;
	background-color: #4caf50;
}

button[disabled] {
	opacity: 0.6;
	cursor: default;
}

button:active {
	filter: brightness(80%);
}

button.red {
	color: white;
	background-color: #f44336;
}

input[type=submit]:hover {
  background-color: #45a049;
}

ul {
	list-style-type: none;
	padding: 5px;
	margin: 0;
}

li {
	text-align: center;
	text-transform: uppercase;
	padding: 5px;
}

.footnote {
	text-align: right;
	font-size: 0.8em;
	color: #aaa;
}

hr {
	margin: 20px 0px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: #ccc
}

.main {
  border-radius: 5px;
  background-color: #e5edf4;
  padding: 20px;
  max-width: 860px;
  margin: auto;
}

.warning {
	color: red;
	font-weight: bold;
}

.failure {
	font-style: italic;
	color: #aaa;
}