body {
	font-family: sans-serif;
	background-image: url("background.png");
}

h1 {
	text-align: center;
}

.form {
	text-align: right;
	font-size: 20px;
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 5px;
	column-gap: 5px;
}

.warning {
	color: red;
	font-weight: bold;
}